body {
  font-family: Arial, sans-serif;
  background: #8ac7ec;
}

.container {
  width: 360px;
  background: #dd8be7;
  padding: 20px;
  margin: 100px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px #100e0e;
}

.input-box {
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  padding: 10px;
}

span {
  cursor: pointer;
  margin-left: -30px;
}

.progress {
  width: 100%;
  height: 8px;
  background: #171616;
  margin-top: 15px;
  border-radius: 5px;
}

#progress-bar {
  height: 100%;
  width: 0%;
  border-radius: 5px;
}

.rules {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.rules li {
  font-size: 14px;
  margin-bottom: 5px;
}
